* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
}
/* TOP HEADER  */
.header {
  background-image: url(https://mcdn.nhanh.vn/store3/116253/bn/bg.jpg);
  background-size: cover;
  background-position: center;
  background-color: #494949;
  width: 100%;
  height: 320px;
  background-repeat: no-repeat;
}

.header__item {
  display: flex;
  padding: 10px 0px;
  width: 80%;
  border-bottom: 1px solid #d1cece;
}
.icon {
  margin-left: 25px;
}
.login {
  margin-right: 25px;
  font-size: 12px;
  float: right;
  color: #d1cece;
}
.login__website {
  text-decoration: none;
  color: #d1cece;
}
.fa-brands {
  cursor: pointer;
  color: #d1cece;
  font-size: 13px;
  margin-left: 8px;
}

/* MENU */
.menu__item {
  display: flex;
}
.logo {
  font-size: 80px;
  color: rgb(129, 255, 27);
  margin: 30px 0px 0px 250px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.list {
  color: #d1cece;
  font-size: 14px;
  font-weight: bold;
  margin-right: 25px;
  text-decoration: none;
}
/* .information {
  float: right;
  margin-top: 70px;
  margin-right: 150px;
} */
.menu {
  margin-top: 70px;
  margin-right: 150px;
  display: flex;
}
ul li {
  list-style-type: none;
}

/* CONTENT */
.content {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
}
.content-header {
  font-size: 30px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: -80px;
}
.content-document {
  display: flex;
}
.span {
  color: white;
  margin: 0px 5px;
}
.home,
.trendning {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 600;
  word-spacing: 2px;
}

/*-------------------------- PRODUCT -----------------------------*/
.product {
  width: 80%;
}
.date {
  margin-top: 50px;
  font-weight: bold;
  color: #b89e99;
  font-size: 14px;
}
.product__header {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #4c494d;
}
.product__content {
  margin-top: 10px;
  font-size: 18px;
  color: #52607c;
}
.product__img {
  display: flex;
  width: 700px;
  flex-direction: column;
}
.detail {
  font-size: 14px;
  text-align: center;
  margin: 10px 0px;
  color: #666666;
}
.product__dcmt {
  font-size: 18px;
  color: #4c4f6a;
  margin-bottom: 10px;
}
.product__hder {
  color: #4c494d;
  margin-bottom: 10px;
}
.news__related {
  color: #7f6666;
  font-size: 20px;
}
.underline {
  width: 40px;
  height: 2px;
  margin: 0;
  background-color: #666666;
}
.news__header {
  font-size: 2rem;
  color: #666666;
  text-align: center;
  margin-top: 40px;
}
.news__box {
  display: flex;
  width: 100%;
  margin-top: 30px;
}
.content__header {
  width: 90%;
  font-size: 15px;
  color: #666666;
  font-weight: bold;
  margin-top: 20px;
}
.date_view {
  margin-left: 20px;
  margin-top: 5px;
  font-weight: bold;
  color: #b89e99;
  font-size: 14px;
}
.news__document {
  width: 90%;
  margin-top: 15px;
  font-size: 13px;
  font-weight: bold;
  color: #666666;
}
.news__content {
  width: 32%;
  border: 1px solid #eaeaea;
  padding-top: 10px;
  padding-bottom: 50px;
}
.content__img {
  width: 100%;
}

/* FOOTER */
.footer {
  height: 400px;
  margin-top: 30px;
  background-color: #a79c99;
}
.footer__header {
  color: #f9f8f8;
  font-size: 15px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.btn-box {
  width: 80%;
  display: flex;
}
.footer__box1 {
  width: 30%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__content {
  font-size: 14px;
  color: #f9f8f8;
  font-weight: bold;
  margin-bottom: 20px;
}
.address {
  color: #f9f8f8;
  font-weight: bold;
  font-size: 14px;
}
.fa-solid {
  color: #ff5733;
  padding-right: 10px;
}
.footer__box2 {
  width: 30%;
  padding-top: 50px;
}
.iframe {
  width: 100%;
  margin-top: 20px;
}
.box1__header {
  color: #f9f8f8;
  font-size: 21px;
}
.footer__box3 {
  width: 30%;
  padding-top: 50px;
}
.box3__header {
  font-size: 21px;
  font-weight: bold;
  color: #f9f8f8;
  margin-bottom: 30px;
}
.box3__document {
  font-size: 14px;
  font-weight: bold;
  color: #f9f8f8;
}
.box__input {
  display: flex;
}
.fa-paper-plane {
  line-height: 55px;
  margin-left: -40px;
  font-size: 22px;
  color: #f9f8f8;
}
.fa-paper-plane:hover {
  color: #494949;
}
.input {
  width: 100%;
  height: 35px;
  border: none;
  margin-top: 10px;
  background-color: #bfb4b2;
}
.input::placeholder {
  padding-left: 20px;
  font-weight: bold;
  color: #7a7c7b;
}
#icon {
  color: white;
  font-size: 14px;
  padding: 10px;
  border: 1px solid white;
}
#icon:hover {
  color: #7a7c7b;
}
.btn-menu {
  display: none;
}
#togge-menu {
  display: none;
}
.background-header,
.menu-search {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu__item {
    flex-wrap: wrap;
    background-color: #b1babd;
  }
  .banner {
    flex-wrap: wrap;
  }
  .product {
    flex-wrap: wrap;
  }
  .product__img {
    width: 100%;
  }
  .date {
    margin-top: 270px;
  }
  .advertisement {
    flex-wrap: wrap;
  }
  .news__box {
    flex-wrap: wrap;
  }
  .news__content {
    width: 100%;
  }
  .btn-box {
    flex-wrap: wrap;
  }
  .footer__box1,
  .footer__box2,
  .footer__box3 {
    width: 100%;
  }
  .footer {
    height: 900px;
    background-color: #a79c99;
  }
  .logo {
    display: none;
  }
  .header__item {
    display: none;
  }
  .header {
    background: none;
  }
  .button {
    display: none;
  }
  .content {
    background-image: url(https://mcdn.nhanh.vn/store3/116253/bn/bg.jpg);
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-size: cover;
    opacity: 1;
    margin-top: 0px;
    background-repeat: no-repeat;
  }
  .content-header {
    margin-top: 100px;
    font-size: 19px;
    text-align: center;
    letter-spacing: 2px;
  }

  .list {
    color: #353434;
    font-weight: bold;
    transition: ease 0.3s;
  }

  .list:hover {
    width: 100%;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  .btn-menu {
    position: relative;
    display: unset;
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 100px;
    line-height: 100px;
  }
  .menu-search {
    display: flex;
    width: 100%;
  }
  .menu-input {
    width: 90%;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 1px solid #a3a1a1;
  }
  #search {
    line-height: 40px;
    margin-left: -15%;
    color: #82798b;
  }
  .menu-input::placeholder {
    padding-left: 15px;
    font-weight: bold;
  }
  #none-search {
    display: none;
  }
  .fa-bars,
  .fa-user,
  .fa-shopping-cart {
    color: white;
    line-height: 80px;
    transition: linear 0.2s;
  }
  .fa-user {
    margin-right: 30px;
  }
  .fa-bars:hover {
    color: #353434;
  }
  .fa-user:hover {
    color: #353434;
  }
  .fa-shopping-cart:hover {
    color: #353434;
  }
  .fa-user {
    position: absolute;
    right: 45px;
  }
  .menu {
    display: none;
  }
  .banner {
    margin-top: -130px;
  }
  #togge-menu:checked + .menu {
    display: block;
    background-color: #b1babd;
    width: 100%;
    margin-top: 0;
    padding-left: 50px;
  }
}
